# Virtual Environment
venv/
backend/venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Frontend
frontend/node_modules/

# React build
frontend/dist/